<div class="phieu-thu-page">
    <div class="page-header">
        <div>
            <h2>Phiếu thu</h2>
            <span>Danh sách phiếu thu</span>
        </div>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Ngày chứng từ</th>
                    <th>Số chứng từ</th>
                    <th>Đối tượng</th>
                    <th>Diễn giải</th>
                    <th class="money">Số tiền</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td colspan="6" class="empty-data">
                        <app-empty-state icon="pi pi-inbox" title="Không có dữ liệu" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
